/* 
--russian-violet: #1D1844ff;
--egyptian-blue: #1A3095ff;
--russian-violet-2: #3C2953ff;
--tyrian-purple: #56182Dff;
--mountbatten-pink: #AA7481ff;
--bole: #7A442Dff;
--dark-purple: #13102Dff;
--violet-jtc: #652B54ff;
--ultra-violet: #515879ff;
--#FEFEFBff
*/

#header_img p {
    color: #FEFEFBff;
    background-color: #1A3095ff;
    position: absolute;
    right: 75px;
    bottom: 30px;
    padding: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
}

header nav {
    display: flex;
    background-color: #F8A59Bff;
    align-items: center;
}

header nav ul {
    margin-right: 60px;
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.contents {
    display: flex;
    flex-grow: 1;
}

.contents-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contents-row div {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.work-item {
    min-height: 400px;
    background-color: red;
    flex-grow: 1;
    flex-basis: 40%;
    flex-shrink: 0;
    background-size: 100% 100%;
    margin: 15px 15px 0 0;
}

#surf-report {
    background-image: url("./pexels-anni-roenkae-3219951.jpg");

}

#led-wall {
    background-image: url("./pexels-johannes-plenio-1103970.jpg");
}

#calculator {
    background-image: url(./pexels-mnm-zameer-3308588.jpg);
}

#puzzle {
    background-image: url("./pexels-suzy-hazelwood-1629236.jpg");
}

#buddy {
    background-image: url("./pexels-zaksheuskaya-1616403.jpg");
}

.contents ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

header nav ul li,
.contents ul li {
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    color: #3C2953ff;
}

main section {
    display: flex;
    margin-top: 30px;
}

main section .heading {
    display: flex;
    justify-content: right;
    flex-basis: 300px;
    flex-shrink: 0;
    border-right: 2px solid #56182Dff;
    padding-right: 5px;
    margin-right: 20px;
}

.heading h1 {
    font-size: 3rem;
    color: #1A3095ff;
}

#header_img {
    background-image: url("./header.jpg");
    height: 160px;
    width: 100%;
    /* margin-bottom: 25px; */
    background-size: cover;
    background-position: center;
    position: relative;
}

#name {
    color: #FEFEFBff;
    background-color: #1A3095ff;
    padding: 0.5rem;
    padding-left: 1.9rem;
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
    margin: 5px 0 5px 0;

}
