/* Create custom property for two main colors */
:root {
    --main-light-color: rgb(234, 235, 254);
    --main-dark-color: rgb(80, 90, 116);
}

/* Set up font family */
* {
    font-family: 'PT Serif', serif;
}

/* Scrolls smoothly to the section when prompted by click */
html {
    scroll-behavior: smooth;
}

/* Style for page nav bar section */
.first-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    background-color: var(--main-dark-color);
    align-items: center;
}

/* Increase text size for text in the top left corner */
.name {
    font-size: xxx-large;
    color: var(--main-dark-color);
}

/* Adjust top left corner name text*/
.header-name-left {
    background-color: var(--main-light-color);
    width: fit-content;
    padding: 10px 15px 10px 40px;
}

/* Increase width for header nav bar */
.header-nav {
    width: 40%;
}

/* Adjust position for header nav bar */
.header-nav ul {
    display: flex;
    justify-content: space-between;
    color: var(--main-light-color);
    margin-right: 40px;
}

/* Reset default hyperlink color styling */
.header-nav ul li a {
    color: var(--main-light-color);
}

/* Set style for all nav elements on the page */
nav ul li {
    display: inline-block;
    font-size: larger;
    padding: 0 12px 6px 12px;
}

/* Set position for the top header img */
.header-img {
    background-color: black;
    background-image: url("./header-top.jpg");
    height: 170px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Set position for the 'Web Dev Student' span */
.header-job-span {
    color: var(--main-dark-color);
    background-color: var(--main-light-color);
    padding: 6px;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 0.7px;
    position: absolute;
    bottom: 20px;
    right: 65px;
}

/* Set margin for the main section */
main section {
    display: flex;
    margin: 30px 60px 30px 0;
}

/* Set position for the entire Work section */
.work {
    display: flex;
    justify-content: space-between;
}

/* Set position for contacts section */
.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Set position for "about me, work, contact me" spans  */
.section-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 300px;
    flex-shrink: 0;
}

/* Increase font size for "about me, work, contact me" spans  */
.section-left span {
    font-size: xxx-large;
    color: var(--main-dark-color);
}

/* Set position and border for the right main section */
.section-right {
    border-left: 2px solid var(--main-dark-color);
    padding: 10px 0 10px 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Set up position for the project name and description tags on images */
.img-container span {
    display: flex;
    flex-direction: column;
}

/* Set position for the project description tag */
.img-container {
    color: var(--main-dark-color);
    display: flex;
    flex-wrap: wrap;
}

/* Set up images' positions */
.imgs {
    height: 400px;
    background-size: cover;
    background-position: center;
    border: 8px solid var(--main-light-color);
    background-color: pink;
    flex-basis: 100%;
    margin: 5px;
    transition: .3s ease;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
/* Create hover effect on images */
.imgs:hover {
    transform: scale(1.1);
}
/* Make the bottom 4 images smaller */
.imgs.smaller {
    flex-basis: 40%;
}

/* Set position for project name and descriptions tags */
.game-text {
    width: fit-content;
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    margin-bottom: 30px;
    padding: 10px;
}

/* Create font style for project name tags */
.game-name {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Reset click on link color */
.game-name a {
    color: var(--main-dark-color);
}

/* Create font style for project description tags */
.game-tools {
    font-size: smaller;
}

/* Upload image and set tag position within the image */
#work-img-one {
    background-image: url("pexels-francesco-ungaro-1670977.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Upload image and set tag position within the image */

#work-img-two {
    background-image: url("pexels-karolina-grabowska-5477677.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Upload image and set tag position within the image */
#work-img-three {
    background-image: url("pexels-steve-johnson-1044988.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Upload image and set tag position within the image */
#work-img-four {
    background-image: url("pexels-nic-wood-6432056.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Upload image and set tag position within the image */
#work-img-five {
    background-image: url("pexels-ivan-samkov-4491829.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Set items position within 'Contact me' section */
#contact-nav {
    display: flex;
    justify-content: space-evenly;
}

/* Style 'Contact Me' list items */
#contact-nav li {
    color: var(--main-dark-color);
    border-bottom: 3px solid var(--main-dark-color);
}

/* Adjust position for the 'Contact Me' section */
#contact-me-section {
    padding: 40px 0 60px 0;
    margin-bottom: 30px;
}

/* Reset 'mailto' default color */
#contact-nav li a {
    color: var(--main-dark-color);
}

/* Set header nav style */
#header-nav li {
    border-bottom: 3px solid var(--main-light-color);
}

/* Align 'Contact me' header with the nav list items */
#section-left-contacts {
    padding-bottom: 70px;
}

/* Reset display view for small screens */
@media only screen and (max-width: 800px) {
    .first-header {
        flex-direction: column !important;
    }
    .second-header {
        display: none;
    }
    section {
        flex-direction: column !important;
    }
    .header-name-left {
        padding: 5px !important;
    }
    .section-left {
        justify-content: center;
        align-items: center;
        flex-basis: 0;
    }
    .section-right {
        border: 0;
        padding: 0;
        margin: 25px;
    }
    main section {
        margin: 0;
    }
    .img-container {
        flex-direction: column;
    }
    ul {
        flex-direction: column;
    }
    ul li {
        margin-top: 15px;
        text-align: center;
    }
    #header-nav {
        margin-right: 0;
        text-align: center;
    }
    #contact-me-section {
        margin: 0 0 20px 0;
        padding: 0;
    }
    #section-left-contacts {
        padding-bottom: 20px;
    }
}
