/*
rgb(234,235,254) - Light
rgb(80,90,116) - Dark
*/

* {
    font-family: 'PT Serif', serif;
}

html {
    scroll-behavior: smooth;
}

.first-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    background-color: rgb(80, 90, 116);
    align-items: center;
}

.name {
    font-size: xxx-large;
    color: rgb(80, 90, 116);
}

.header-name-left {
    background-color: rgb(234, 235, 254);
    width: fit-content;
    padding: 10px 15px 10px 40px;
}

.header-nav {
    width: 40%;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
    color: rgb(234, 235, 254);
    margin-right: 40px;
}

.header-nav ul li a {
    color: rgb(234, 235, 254);
}

nav ul li {
    display: inline-block;
    font-size: larger;
    padding: 0 12px 6px 12px;
}

.header-img {
    background-color: black;
    background-image: url("./header-top.jpg");
    height: 170px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-job-span {
    color: rgb(80, 90, 116);
    background-color: rgb(234, 235, 254);
    padding: 6px;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 0.7px;
    position: absolute;
    bottom: 20px;
    right: 65px;
}

main section {
    display: flex;
    margin: 30px 60px 30px 0;
}

.work {
    display: flex;
    justify-content: space-between;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 300px;
    flex-shrink: 0;
}

.section-left span {
    font-size: xxx-large;
    color: rgb(80, 90, 116);
}

.section-right {
    border-left: 2px solid rgb(80, 90, 116);
    padding: 10px 0 10px 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/*.section-right div {*/
/*    display: flex;*/
/*    flex-grow: 1;*/
/*    justify-content: space-between;*/
/*}*/

.img-container span {
    display: flex;
    flex-direction: column;
}

.img-container {
    color: rgb(80, 90, 116);
    display: flex;
    flex-wrap: wrap;
}

.imgs {
    height: 400px;
    background-size: cover;
    background-position: center;
    border: 8px solid rgb(234, 235, 254);
    background-color: pink;
    flex-basis: 100%;
    margin: 5px;
    transition: .3s ease;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.imgs:hover {
    transform: scale(1.1);
}

.imgs.smaller {
    flex-basis: 40%;
}


#work-img-one {
    background-image: url("pexels-francesco-ungaro-1670977.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.game-text {
    width: fit-content;
    background-color: rgb(234,235,254);
    color: rgb(80, 90, 116);
    margin-bottom: 30px;
    padding: 10px;
}

.game-name {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

/*reset click on link color*/
.game-name a {
    color: rgb(80, 90, 116);
}

.game-tools {
    font-size: smaller;
}

#work-img-two {
    background-image: url("pexels-karolina-grabowska-5477677.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#work-img-three {
    background-image: url("pexels-steve-johnson-1044988.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#work-img-four {
    background-image: url("pexels-nic-wood-6432056.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#work-img-five {
    background-image: url("pexels-ivan-samkov-4491829.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#contact-nav {
    display: flex;
    justify-content: space-evenly;
}

#contact-nav li {
    color: rgb(80, 90, 116);
    border-bottom: 3px solid rgb(80, 90, 116);
}

#contact-me-section {
    padding: 40px 0 60px 0;
    margin-bottom: 30px;
}

/*reset 'mailto' default color*/
#contact-nav li a {
    color: rgb(80, 90, 116);
}

/*sets header nav style */
#header-nav li {
    border-bottom: 3px solid rgb(234, 235, 254);
}

/*aligns 'Contact me' text*/
#section-left-contacts {
    padding-bottom: 70px;
}

/*.contents-row div {*/
/*    display: flex;*/
/*    flex-grow: 1;*/
/*    justify-content: space-between;*/
/* 
#header_img p {
    color: #FEFEFBff;
    background-color: #1A3095ff;
    position: absolute;
    right: 75px;
    bottom: 30px;
    padding: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
}

header nav {
    display: flex;
    background-color: #F8A59Bff;
    align-items: center;
}

header nav ul {
    margin-right: 60px;
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.contents {
    display: flex;
    flex-grow: 1;
}

.contents-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contents-row div {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.work-item {
    min-height: 400px;
    background-color: red;
    flex-grow: 1;
    flex-basis: 40%;
    flex-shrink: 0;
    background-size: 100% 100%;
    margin: 15px 15px 0 0;
}

#surf-report {
    background-image: url("./pexels-anni-roenkae-3219951.jpg");

}

#led-wall {
    background-image: url("./pexels-johannes-plenio-1103970.jpg");
}

#calculator {
    background-image: url(./pexels-mnm-zameer-3308588.jpg);
}

#puzzle {
    background-image: url("./pexels-suzy-hazelwood-1629236.jpg");
}

#buddy {
    background-image: url("./pexels-zaksheuskaya-1616403.jpg");
}

.contents ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

header nav ul li,
.contents ul li {
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    color: #3C2953ff;
}

main section {
    display: flex;
    margin-top: 30px;
}

main section .heading {
    display: flex;
    justify-content: right;
    flex-basis: 300px;
    flex-shrink: 0;
    border-right: 2px solid #56182Dff;
    padding-right: 5px;
    margin-right: 20px;
}

.heading h1 {
    font-size: 3rem;
    color: #1A3095ff;
}

#header_img {
    background-image: url("./header.jpg");
    height: 160px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

#name {
    color: #FEFEFBff;
    background-color: #1A3095ff;
    padding: 0.5rem;
    padding-left: 1.9rem;
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
    margin: 5px 0 5px 0;

} */
